# HW7: logistic regression

## instructions

our course will be using an automatic grading system. <br>
after each question there will appear a code block with some prepared code to add your answer to a dictionary that will be sent to the course server for grading. <br>
please do not edit any code other than in placeholders marked `#### your code here ####` <br>
__don't forget to run the code block after you write your answer.__


you can add code blocks wherever you want in order to interact with datasets and play with your own code. <br>
in the next code block plase fill in your id number and email account in the appropriate placees. <br>
and __don't forget to run the block!__

In [1]:
ans = {}
ans['HW'] = 'HW7'
ans['id_number'] = 307923383

#### Q1)
Assume we fit a logistic regression and got a fit $\hat{\beta}$. Assume $\hat{\beta_1} = \hat{\beta_2} = 1$. Now we want to predict $\widehat{P(y=1|x)}$ at two points $x_0$ and $\tilde{x}_0$ that are equal in all coordinates except the first two. Assume $x_{01}=100, \tilde{x}_{01} = 101$ and $x_{02}=0, \tilde{x}_{02} = -1.$ Denote the resulting predictions at $x_0,\tilde{x}_0$ by $\hat{p}_0$ and $\tilde{p}_0$ respectively. Which of the following holds: 

1. $\hat{p}_0$ > $\tilde{p}_0$ 
2. $\hat{p}_0$ < $\tilde{p}_0$ 
3. $\hat{p}_0$ = $\tilde{p}_0$ 
4. Not enough information to know

In [2]:
ans['Q1'] = 3

#### Q2)
For the same setup, now assume we have three points $x_0,u_0,v_0$ that are identical in all but the first coordinate, where we have $x_{01} = 0, u_{01}=1, v_{01}=2.$ Denote the resulting predictions by $\hat{p}_0,\hat{q}_0,\hat{r}_0$ respectively. Which of the following holds: 

1. $\frac{log(\hat{p}_0)}{log(\hat{q}_0)}= \frac{log(\hat{q}_0)}{log(\hat{r}_0)}$
<br>
<br>
2. $\frac{\hat{p}_0}{1-\hat{p}_0}=\frac{\hat{q}_0}{1-\hat{q}_0}=\frac{\hat{r}_0}{1-\hat{r}_0}$
<br>
<br>
3. $\frac{\hat{p}_0}{\hat{q}_0}= \frac{\hat{q}_0}{\hat{r}_0}$
<br>
<br>
4. $\frac{\frac{\hat{p}_0}{1-\hat{p}_0}}{\frac{\hat{q}_0}{1-\hat{q}_0}} = \frac{\frac{\hat{q}_0}{1-\hat{q}_0}}{\frac{\hat{r}_0}{1-\hat{r}_0}}$

In [3]:
ans['Q2'] = 4

#### Q3)
In the logistic regression we ran in class on the *saheart* data, we got a significant negative coefficient $\hat{beta}_{fam}$ for the binary variable *famshit_absent* which has the obvious meaning: it is $1$ if there is no family history and $0$ if there is. Assume we replace this variable with a variable *famhist_present = 1 - famhist_absent* which is $1$ if there is family history and $0$ otherwise. The rest of the data (including the training-test split) is unchanged. What would happen to the estimated coefficients if we run exactly the same logistic regression on this new dataset? You can base your answer on calculations, or just try it out...<br>

1. Only the intercept and $\hat{\beta}_{fam}$ would change, but we cannot say exactly how
2. The intercept would change and $\hat{\beta}_{fam}$ would switch sign but have the same absolute value
3. All coefficients would change, we cannot say exactly how
4. Only $\hat{\beta}_{fam}$ would change, it would switch sign from negative to positive

In [4]:
ans['Q3'] = 3

In [5]:
import pandas as pd

In [6]:
src = "http://www-stat.stanford.edu/~tibs/ElemStatLearn/datasets/SAheart.data"
df = pd.read_table(src, 
                   sep=",", 
                   header=0)

In [7]:
df.head(5)

,row.names,sbp,tobacco,ldl,adiposity,famhist,typea,obesity,alcohol,age,chd
0,1,160,12.00,5.73,23.11,Present,49,25.30,97.20,52,1
1,2,144,0.01,4.41,28.61,Absent,55,28.87,2.06,63,1
2,3,118,0.08,3.48,32.28,Present,52,29.14,3.81,46,0
3,4,170,7.50,6.41,38.03,Present,51,31.99,24.26,58,1
4,5,134,13.60,3.50,27.78,Present,60,25.99,57.34,49,1

In [9]:
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression

df['famhist'] = df['famhist'] == 'Present'

X,y = df.drop(columns='chd'), df['chd']
clf = LinearRegression().fit(X, y)

In [10]:
regular_coef, regular_int = clf.coef_, clf.intercept_

In [11]:
df.head(3)

,row.names,sbp,tobacco,ldl,adiposity,famhist,typea,obesity,alcohol,age,chd
0,1,160,12.00,5.73,23.11,True,49,25.30,97.20,52,1
1,2,144,0.01,4.41,28.61,False,55,28.87,2.06,63,1
2,3,118,0.08,3.48,32.28,True,52,29.14,3.81,46,0

In [12]:
df['famhist'] = ~df['famhist']
df.head(3)

,row.names,sbp,tobacco,ldl,adiposity,famhist,typea,obesity,alcohol,age,chd
0,1,160,12.00,5.73,23.11,False,49,25.30,97.20,52,1
1,2,144,0.01,4.41,28.61,True,55,28.87,2.06,63,1
2,3,118,0.08,3.48,32.28,False,52,29.14,3.81,46,0

In [13]:
X,y = df.drop(columns='chd'), df['chd']
clf = LinearRegression().fit(X, y)

In [14]:
flipped_coef, flipped_int = clf.coef_, clf.intercept_

In [15]:
# regular_coef, regular_int = clf.coef_, clf.intercept_
print(regular_coef, regular_int)
print(flipped_coef, flipped_int)

[-1.63303503e-04  1.55026561e-03  1.62667067e-02  3.24111900e-02
  2.76333760e-03  1.75080192e-01  5.77578191e-03 -1.17786363e-02
 -1.66734921e-04  6.63766670e-03] -0.46730371948444255
[-1.63303503e-04  1.55026561e-03  1.62667067e-02  3.24111900e-02
  2.76333760e-03 -1.75080192e-01  5.77578191e-03 -1.17786363e-02
 -1.66734921e-04  6.63766670e-03] -0.2922235270241447

In [16]:
regular_coef == flipped_coef

array([ True,  True,  True,  True,  True, False,  True,  True,  True,
        True])

In [17]:
regular_int == flipped_int

False

#### Q4)
Based on the definitions from class, which of the following identities does not hold? 

1. $TP+FN=P$
2. $TP+FP=\hat{P}$
3. $TPR+FPR=1$
4. $TP\leq min(P,\hat{P})$

In [18]:
ans['Q4'] = 3

#### Q5)
Assume we have two competing models, $mod_1$ and $mod_2$, for the same 2-class classification problem, evlauated on the same test set. 
Using the definitions we gave in class, with subscript for model number (so $Recall_1$ is the recall of $mod_1$, etc.), which of the following guarantees that $mod_1$ has higher accuracy on the test set?

1. $Precision_1 > Precision_2$ and $\hat{P}_1 < \hat{P}_2$ 
2. $TP_1>TP_2$ and $FN_1 < FN_2$
3. $Recall_1 > Recall_2$ and  $\hat{P}_1 > \hat{P}_2$
4. $Recall_1 > Recall_2$ and $FPR_1 < FPR_2$

Accuracy = [#(TP) + #(TN)] / (TN + FN + TP + FP)

1. 
Precision = TP / P_hat

Precision1 > Precision2 ---> TP1 / P_hat1 > TP2 / P_hat2

It could be the case that TP1 == TP2 in this case. We have more positive predictions in model1 but same amount of TP. In mod1 we have transferred negative samples to P_hat (or else would see more TP). So this is a less accurate model

2. TP1 > TP2 and FN1 < FN2


P = TP + FN
N = TN + FP


[#(TP1) + #(TN1)] / (N+P)

[#(TP2) + #(TN2)] / (N+P)


3. Recall1 > Recall2 and P1 > P2

Recall1 = TP1 / P
Recall2 = TP2 / P


TP1 / P > TP2 / P ---> TP1 > TP2

TP1 + FP1 > TP2 + FP2

[#(TP1) + #(TN1)] / (N+P)

[#(TP2) + #(TN2)] / (N+P)


4. Recall1 > Recall2 and  FPR1 < FPR2

TP1 > TP2


FPR1 = FP1 / N

FP1 / N < FP2 / N

FP1 < FP2
1-TN1 < 1-TN2
TN1 >TN2

In [19]:
ans['Q5'] = 4

#### Q6)
I have a classification model $mod_1$ and I apply it to a test set, measure AUC and get $AUC_1=0.6$. I also construct two additional models: $mod_2=2mod_1$ and $mod_3 = 1-mod_1$ (that is, every prediction goes through the transformation), and measure their AUCs on the same test set. Which of the following holds: 

1. $AUC_1=AUC_2>AUC_3.$
2. $AUC_1>AUC_2>AUC_3.$
3. $AUC_1>AUC_2$, don't know about $AUC_3.$
4. $AUC_1=AUC_3$, don't know about $AUC_2.$

2mod1 means we double all probabilities. This scaling retains order so doesn't affect the AUC.



The model outputs a probability. 1-p gives us the complement. 
So if the probability that a chosen positive will be ranked higher than a negative was 60% we now have 0.4 AUC.

AUC interpretation: the probability that a randomlly chosen positive sample will have a higher score than a randomlly chosen negative sample.

In [20]:
ans['Q6'] = 1

# finish!

to submit your HW please run this last code block and follow the instructions. <BR>
this code will create a CSV file in the current directory on the azure notebooks project <br>
please download it and submit it through moodle

In [21]:
import pandas as pd
df_ans = pd.DataFrame.from_dict(ans, orient='index')
if df_ans.shape[0] == 8:
    df_ans.to_csv('{}_{}.csv'.format(ans['HW'],str(ans['id_number'])))
    print("OK!")
else:
    print("seems like you missed a question, make sure you have run all the code blocks")

OK!